<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>flex</title>
    <link href="Static/CSS/index.css" rel="stylesheet" />
</head>
<body>
    <!--Сайд-бар-->
    <aside>
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>
    <!--Шапка-->
    <header>
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <p>Покажем, что происходит прямо сейчас</p>
        <input class="video-search" placeholder="Название трансляции" />
    </header>
    <!--Раздел с контентом-->
    <main>
        <div class="box">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/srlpC5tmhYs"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
        </div>
        <div class="box">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/wCcMcaiRbhM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
        </div>
        <div class="box">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/JplMzss6_YE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <h3 class="video-title">Лондон, автобусный маршрут</h3>
        </div>
        <div class="box">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/DjdUEyjx8GM" 
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
            </div>
            <h3 class="video-title">Токио, Кабукитё</h3>
        </div>
        <div class="box">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/rG13FY2ytno"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
            </div>
            <h3 class="video-title">Санкт-Петербург, Невский пр. Аничков дворец</h3>
        </div>
        <div class="box">
            <div class="container">
                <iframe src="https://www.youtube.com/embed/1-iS7LArMPA"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
            </div>
            <h3 class="video-title">Нью-Йорк, Таймс-сквер</h3>
        </div>
    </main>
    <!--Подвал-->
    <footer>
        <p id="first-line">Lifespot&#169 - видеотрансляции</p>
        <p>Связь с разработчиком: hooorbazoom@gmail.com</p>
    </footer>
</body>
</html>