<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/Index.css" rel="stylesheet" type="text/css">
    <script defer src="../Static/JS/TestScript.js">
    </script>
</head>

<header>
    <h1>LifeSpot - тестовая страница</h1>
    <p>Здесь можно экспериментировать с кодом</p>
    <input type="text" oninput="
        /* Обработчик ввода текста */
           " size=50%>
</header>

<aside>
    <div class="navbar">
        <a href="/"><p>Трансляции</p></a>
        <a href="/"><p>О проекте</p></a>
    </div>
</aside>

<!--SIDEBAR-->
<body>
</body>
<!--FOOTER-->

</html>